<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-xs-12">
        <label>Food</label>
        <input type="text" [(ngModel)]="foodName" class="form-control">
        <label>Description</label>
        <input type="text" [(ngModel)]="desc" class="form-control">
        <label>Photo</label>
        <input type="text" [(ngModel)]="img" class="form-control">
        <button *ngIf="foodName && desc && img" (click)="onRecipeAdded()" type="button" class="btn btn-success">New Recipe</button>
      </div>
      <hr>
      <div class="col-xs-12">
        <app-recipe-listitem
          *ngFor="let item of recipes"
          [curItem]="item"
        ></app-recipe-listitem>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <app-recipe-detail></app-recipe-detail>
  </div>
</div>
